[submodule "ocelot/hydrazine"]
	path = ocelot/ThirdParty/hydrazine
	url = https://github.com/gpuocelot/hydrazine.git
[submodule "ocelot/ThirdParty/res_embed"]
	path = ocelot/ThirdParty/res_embed
	url = https://github.com/dmikushin/res_embed.git
[submodule "ocelot/ThirdParty/cuda-fatbin-decompression"]
	path = ocelot/ThirdParty/cuda-fatbin-decompression
	url = https://github.com/gpuocelot/cuda-fatbin-decompression.git
